<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1 style="color: red">Enter Your Name</h1>
    <form action="/" method="post">
      <input type="text" name="name" placeholder="Enter your name" required />
      <button type="submit">Submit</button>
    </form>
    <% if ( users && Array.isArray(users)) { %>
    <ul>
      <% users.map(user => { %>
      <li><%= user.name %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No users available</p>
    <% } %>
  </body>
</html>
